/******** PB & MT DEW *******************************/
/******** RESETS ************************************/
*, html, body, ul, li, h1, h2, h3, h4, h5, h6, form, p { margin: 0; padding: 0; }
ul, li { list-style: none; }
img { border: none; }

/******** STRUCTURE & SPECIFICS *****************/
body { background: #fff url(img/bg.png) repeat;  font: normal normal 14px/normal 'Open Sans', Helvetica, sans-serif; color: #010000;  text-align: center; }

.wrap { padding: 0; width: 960px; margin: 0 auto; text-align: left; }
#header { padding: 60px 0 0; }
	h1.logo { background: url(img/logo.png) no-repeat; width: 320px; height: 119px; }
	h1.logo a { display: block; }
	h1.logo a span { display: none; }
#nav { font: bold 15px/normal 'Open Sans Condensed', Helvetica, sans-serif; text-transform: uppercase; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 50px 0 0; width: 640px; background: rgb(255,199,115); /* Old browsers */ background: -moz-linear-gradient(top, rgba(255,199,115,1) 0%, rgba(253,157,13,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,199,115,1)), color-stop(100%,rgba(253,157,13,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc773', endColorstr='#fd9d0d',GradientType=0 ); /* IE6-9 */ border-bottom: 0 none; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);  }
	#nav li:nth-child(5) a, #nav li:nth-child(6) a { margin: 5px 0 0 10px; background: url(img/icons.png) no-repeat; display:block; width: 32px; height: 32px; padding: 0; border: 0; text-indent: -9999px; }	
	#nav li:nth-child(1) a { border-left: 0; }
	#nav li:nth-child(4) a { border-right: 0; }
	#nav li:nth-child(6) a { background-position: 0 -32px;  }

#content { padding: 15px 15px 20px; margin: 0 0 20px; min-height: 100px; height: auto !important; height: 100px; background: #98d21a;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);  }
	#banner { margin: 0 0 15px; border: 10px solid #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);  }
	.col1 { width: 320px; margin: 0 15px 0 0; }
	.col2 { width: 595px; }
	.col3 { width: 595px; background: #c6fb54; margin: 0 15px 15px 0; padding: 15px 15px 10px; }
	.col2-1 { min-height: 270px; height: auto !important; height: 270px; width: 290px; background: #c6fb54;  margin: 0 15px 0 0; }
	.col2-1:last-child { margin: 0 0 15px;  }
	.col3-1 { width: 260px; background: #c6fb54;  padding: 15px 15px 10px; margin: 0 0 15px; }
	.col1 form.login, .col1 form.daftar, .col2-1 form { padding: 15px 15px 10px; background: #c6fb54; margin: 0 0 15px; }
		.col1 form.daftar { padding-bottom: 44px !important; }
		.col2-1 form.stokis {  padding: 23px 15px 17px !important; }
	.infoAktiviti { width: 250px; background: #c6fb54; padding: 15px 20px 24px; }
	.infoAktiviti ul { font: normal 13px/22px 'Open Sans';  margin: 0 0 0 15px; }
	.testimoni img { border: 5px solid #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);  }
	.testimoni p { padding: 0 0 0 30px; width: 460px; background: url(img/quote.png) no-repeat; display: inline-block; line-height: 23px !important; }
	.testimoni strong { font-size: 13px; }
	.companies img { float: left; margin: 0 15px 8px 0; }
	.iklan { background: none; padding: 0; width: 625px; }
	.tweet h3 { padding: 0 0 5px 40px; background: url(img/tweet.png) no-repeat; }
	.tweet p { margin: 0 0 0 20px; font-size: 13px; }

	#sidebar { width: 244px; }
		#sidebar .col { margin: 0 0 20px; padding: 10px; width: 210px; background: #c6fb54;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
		#sidebar h3 { font-weight: normal; text-transform: uppercase; padding: 0 0 5px; margin: 0 0 5px; border-bottom: 1px solid #a5e321; }
		#sidebar ul { margin: 0 0 0 30px; }
		#sidebar ul.sidemenu li { vertical-align: top;  line-height: 24px; list-style-image: url('img/arrow.png') ; }
	#main { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); width: 656px; padding: 15px; background: #fff; min-height: 800px; height: auto !important; height: 800px; }
#footer  { font-size: 13px; margin: 10px 0 0; }

/* style, variant, weight, size, line-height, family */

/******** REPEATS ********************************/
h1,h2,h3,h4,p,ul,ol,table { margin-bottom: 10px; }
#content p { line-height: 20px; }
#content ul li { list-style: disc outside none; }

a { color: #ff7800; text-decoration: none; }
a:hover { text-decoration: underline; }

.clearfix { display: inline-block; }
.clearfix:after { display: block; height: 0; clear: both; content: ".";  visibility: hidden; }
.clear { clear: both; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

img.floatl { margin: 0 10px 0 0; }
img.floatr { margin: 0 0 0 10px; }

.floatl { float: left; }
.floatr { float: right; }
.alignr { text-align: right; }
.alignl { text-align: left; }
.alignc { text-align: center; }
.imgborder { border: 3px solid #fff; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; } /* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
html { -webkit-font-smoothing: antialiased; } /* maxvoltar.com/archive/-webkit-font-smoothing */

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }

/*************** Text and Boxes */
.notice { background: #eee; text-align: center; margin: 10px 0; padding: 5px; }
.yellowbox { background: #FFF9D7; border: 1px solid #E2C822; }
.redbox { background:#FFDAD7; border:1px solid #E2223D; }
.greenbox { background:#E5FFD7; border:1px solid #22E230; }
.bluebox { background:#D7F6FF; border:1px solid #2285E2;}
.blackbox { background: #000; color: #fff; text-shadow: none; padding: 3px; }	
.yellowtxt { color: #ffde00; }
.redtxt { color: #b71319; }
.bluetxt { color: #6e95c4; }
.greentxt { color: #4baf24; }
#main blockquote { font: italic 18px/normal Georgia, serif;  width: 90%; margin: 10px; padding: 10px 40px; line-height: 1.45; position: relative; color: #383838; }
#main blockquote:before { display: block; content: "\201C"; font-size: 80px; position: absolute; left: -20px; top: -20px; color: #7a7a7a; }
#main blockquote cite { color: #999999; font-size: 14px; display: block; margin-top: 5px; }
#main blockquote cite:before { content: "\2014 \2009"; }

#main ul { margin:10px 0 20px 30px; }
#main ul ul { margin:0 0 0 40px;} 
#main ul li { list-style: disc outside url("img/li-diamond-black.gif") !important; }
#main ul ul li { list-style: circle outside url("img/li-diamond-white.gif") !important;}
#main ul ul ul li { list-style: square outside url("img/li-square.gif") !important;}
#main ol { counter-reset: li;list-style: none;*list-style: decimal; padding: 0;margin: 0 0 20px 37px; }
#main ol p{ line-height:19px;position: relative;display: block;padding: 0 .4em .4em 0; *padding: .4em; margin: -1px 0;}
#main ol ol p:before{ background: #78abed; }
#main ol ol ol p:before{ background: #ccc; }
#main ol p:before{ content: counter(li);counter-increment: li;position: absolute;	left: -2.5em;top: 12px;margin-top: -0.9em;background: #377ad0; height: 17px;width: 14px;text-align: center;color:#fff; font: bold 10px/16px Arial;}	
ul.dashboardSummary li { font-weight: bold; line-height: 1.8em; text-align: center; margin: 0 10px 0 0; background: #f4f4f4; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; width: 30%; list-style: none;  display: inline-block; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }	
	ul.dashboardSummary li  h3 { margin: 0; font-size: 1.4em;  }
	ul.dashboardSummary p { margin: 0; }

#main form { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); background: #eee; padding: 10px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;  }
#main form input[type=text], #main form textarea { border: 1px solid #ccc; }
#main form select { width: auto;  }
form label { padding: 5px 0 0; float: left; width: 25%; margin: 0 14px 0 0; }
form p { margin: 15px 0; }
form p:last-child { margin: 0 0 15px; }
form input[type=text].shorttxt { width: 20%; }
form input[type=text].mediumtxt { width: 40%; }
form input[type=text], form textarea { width: 60%; border: 0; padding: 8px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
form select { width: 100%; border: 0; padding: 8px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
form input.fullTxt { width: 80%; }

input[type=submit], .button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 14px/100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
	padding: .4em 1em .5em 1em;
	background: #3b88d8;
	background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	-moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	color: #fff;
	text-shadow: 0 -1px 1px #3275bc;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
 
input[type=submit]:hover, .button:hover {
	background: #2a81d7;
	background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
	cursor: pointer;
	text-shadow: 0 -1px 1px #1d62ab;
	-webkit-background-clip: padding-box;
}
 
input[type=submit]:active, .button:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	-moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	text-shadow: 0 -1px 1px #2361a4;
	-webkit-background-clip: padding-box;
}
 
input[type=submit]:after, .button:after {
        content: url(img/white-rt-triangle.png);
        width:58px;
        height: 9px;
        float: right;
        margin: 1px 0 0 50px;
}

/*************** Tables */
table { text-shadow: none; border-collapse: collapse; width: 100%; }
thead, tr.thead { background: #377ad0; color: #fff;  }
thead td, tr.thead td { font: bold 12px Arial; padding: 5px; }
td, th { text-align: center;  border: 1px solid #ccc; padding: 10px; }
tr.alt { background: #e7f0fb; }

/*************** Pagination styles */

.pagiwrap { text-align: center; margin: 20px 0; }
.pagiwrap p { color: #7a7a7a; margin: 20px 0; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px 4px; border: 1px solid #dadada; text-decoration: none; color: #7a7a7a; background: #efefef; }
.pagination a:hover, .pagination a:active { font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9;}	
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; color: #DDD; }
.pagination a.less, .pagination a.more  { color: #6f8b0f; background: none; border: none; }
html>body .pagination { padding: 0; }	

/*************** Menu */

.menu, .menu ul li { color: #000; }
.menu ul { width: 13em; }
.menu a { color: #444; text-align: center; text-decoration: none; color: #000; padding: 12px 18px; display: block; position: relative; }
.menu ul a { text-align: left; background: #fd9c0a; padding: 10px 19px; }
.menu a:hover, .menu li:hover>a, .menu li.active a { color: #fff; }
.menu ul a:hover { color: #eee; }
.menu li a { border-right: 1px solid #fcdbab; border-left: 1px solid #c97e10; }
.menu li li {/* create borders around each item */ border-bottom: 1px solid #ffc46c; }
.menu ul>li + li {	/* and remove the top border on all but first item in the list */ border-top: 0; }
.menu li li:hover>ul {	/* inset 2nd+ submenus, to show off overlapping */ top: 5px; left: 90%; }
/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a { /* color: #567; */ }
/* Fix for IE5/Mac \*//*/
.menu a { float: left; }
/* End Fix */
