/******** PB & MT DEW *******************************/
/******** RESETS ************************************/
*, html, body, ul, li, h1, h2, h3, h4, h5, h6, form, p { margin: 0; padding: 0; }
ul, li { list-style: none; }
img { border: none; }

/******** STRUCTURE & SPECIFICS *****************/
body { background: #fff url(img/bg.png) repeat;  font: normal normal 400 14px/normal 'Open Sans', Helvetica, sans-serif; color: #000;  text-align: center; }

.wrap { padding: 0; width: 960px; margin: 0 auto; text-align: left; }
#header { padding: 60px 0 0; }
	h1.logo { background: url(img/logo.png) no-repeat; width: 320px; height: 119px; }
	h1.logo a { display: block; }
	h1.logo a span { display: none; }
#nav { text-transform: uppercase; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 50px 0 0; width: 640px; background: rgb(255,199,115); /* Old browsers */ background: -moz-linear-gradient(top, rgba(255,199,115,1) 0%, rgba(253,157,13,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,199,115,1)), color-stop(100%,rgba(253,157,13,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255,199,115,1) 0%,rgba(253,157,13,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc773', endColorstr='#fd9d0d',GradientType=0 ); /* IE6-9 */ border-bottom: 0 none; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);  }
	#nav li:nth-child(5) a, #nav li:nth-child(6) a { margin: 5px 0 0 10px; background: url(img/icons.png) no-repeat; display:block; width: 32px; height: 32px; padding: 0; border: 0; text-indent: -9999px; }	
	#nav li:nth-child(1) a { border-left: 0; }
	#nav li:nth-child(4) a { border-right: 0; }
	#nav li:nth-child(6) a { background-position: 0 -32px;  }
#banner { height: 335px; }
#content { min-height: 100px; height: auto !important; height: 100px;  }
#footer  {background: url(img/footer.gif) no-repeat; height: 160px; }

/* style, variant, weight, size, line-height, family */

.footer { margin: 10px 0; color: #fff; font-size: 10px; font-family: Verdana; font-weight: bold; }
.footer a { color: #fff; }

/******** REPEATS ********************************/
h1,h2,h3,h4,p,ul,ol,table { margin-bottom: 10px; }

a { color: #db051f; text-decoration: none; }
a:hover { color: #990000; text-decoration: underline; }

.clearfix { display: inline-block; }
.clearfix:after { display: block; height: 0; clear: both; content: ".";  visibility: hidden; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

img.floatl { margin: 0 10px 0 0; }
img.floatr { margin: 0 0 0 10px; }

.floatl { float: left; }
.floatr { float: right; }
.alignr { text-align: right; }
.alignl { text-align: left; }
.alignc { text-align: center; }
.alignj { text-align: justify; color: #999; font-size: 0.9em; }
.marg { margin: 0 0 10px 0; }
.reset, p.reset { margin: 0; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; } /* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
html { -webkit-font-smoothing: antialiased; } /* maxvoltar.com/archive/-webkit-font-smoothing */

h1 { font-size: 2.2em; letter-spacing: -2px; }
h2 { font-size: 1.5em; letter-spacing: -1px; }
h3 { font-size: 1.1em; text-transform: uppercase; letter-spacing: -0.5px; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }

h2.pagetitle { color: #fb9f00; font: bold 16px Tahoma; }
.txtred { color: #ff0200; }
.txtdarkgrey { color: #8c8c8c; }
.txtgreen { color: #a5c247; }
.txtpink { color: #bf2394; }
.txtcyan { color: #09b4cb; }
.txtblue { color: #1B6BB5; }
.alt { background: #fff; }

/*************** Pagination styles */

.pagiwrap { text-align: center; margin: 20px 0; }
.pagiwrap p { color: #7a7a7a; margin: 20px 0; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px 4px; border: 1px solid #dadada; text-decoration: none; color: #7a7a7a; background: #efefef; }
.pagination a:hover, .pagination a:active { font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9;}	
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; color: #DDD; }
.pagination a.less, .pagination a.more  { color: #6f8b0f; background: none; border: none; }
html>body .pagination { padding: 0; }	

/*************** Menu */

.menu, .menu ul li { color: #000; }
.menu ul { width: 11em; }
.menu a { color: #444; text-align: center; text-decoration: none; color: #000; padding: 12px; display: block; position: relative; }
.menu ul a { background: #fd9c0a; padding: 10px 0; }
.menu a:hover, .menu li:hover>a, .menu li.active a { color: #fff; }
.menu li a { border-right: 1px solid #fcdbab; border-left: 1px solid #c97e10; }
.menu li li {/* create borders around each item */ border-bottom: 1px solid #ffc46c; }
.menu ul>li + li {	/* and remove the top border on all but first item in the list */ border-top: 0; }
.menu li li:hover>ul {	/* inset 2nd+ submenus, to show off overlapping */ top: 5px; left: 90%; }
/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a { /* color: #567; */ }
/* Fix for IE5/Mac \*//*/
.menu a { float: left; }
/* End Fix */
